@import url('https://fonts.googleapis.com/css?family=Marck+Script|Ruslan+Display');

body{
    background-image: url(../img/background.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
}

h1{
    font-size: 70px;
    text-align: center;
    margin-top: 320px;
    color: #ffffff ;
    font-family: 'Ruslan Display', cursive;
}

span{
    display: block;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
    font-family: 'Ruslan Display', cursive;
}

button{
    width: 396px;
    height: 84px;
    background-color: #771111;
    font-size: 35px;
    border: none; 
    color: #ffffff ;
    font-family: 'Marck Script', cursive;
}

.header{
    display: flex;
    justify-content: flex-start;
    width: auto;
    height: 200px;
    background-color: #001122;
    font-family: 'Ruslan Display', cursive;
}

.knife-logo{
    margin-top: 50px;
    margin-left: 128px;
    width: auto;
    height: auto;
}

.info-panel{
    margin-top: 60px;
    margin-left: 70px;
    font-size: 20px;
    font-weight: 200;
    line-height: 108px;
    letter-spacing: 0.6px;
}

.info-panel >a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    padding-left: 50px;
}

.icons{
    margin-top: 95px;
    margin-left: 475px;
    font-size: x-large;
}

.icons >i{
    color: #ffffff;
    cursor: pointer;
    padding-left: 15px;
}

.btton{
    display: flex;
    justify-content: center;
    margin-top: 100px;   
}

